<!-- About Page -->
<section class="about__page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="about__text">
            <h3 class="about__title">About Me</h3>
            <div class="about__meta">
              <img src="assets/img/profile.jpg" alt="">
              <div class="about__meta__info">
                <h5>Saleh Mosaloo</h5>
                <p>programmer / DESIGNER</p>
              </div>
            </div>
            <p>I am Saleh Musalu, an intermediate Angular programmer and web designer. I live in Qom. I love programming
              and I also love learning.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat incididunt ut labore et dolore magna aliqua.</p>
            <img src="assets/img/signature.png" alt="">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="experience__text">
            <h3 class="about__title">Experience</h3>
            <div class="experience__item">
              <h4>Envato Co.</h4>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Vivamus at nibh
                tincidunt, bibendum ligula id. Nemo enim ipsam voluptatem quiatotam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae.</p>
            </div>
            <div class="experience__item">
              <h4>Unplash Co.</h4>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Vivamus at nibh
                tincidunt, bibendum ligula id. Nemo enim ipsam voluptatem quiatotam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae.</p>
            </div>
            <div class="experience__item">
              <h4>Colorlib Inc.</h4>
              <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Vivamus at nibh
                tincidunt, bibendum ligula id. Nemo enim ipsam voluptatem quiatotam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="skills__text">
            <h3 class="about__title">Skills</h3>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Vivamus at nibh tincidunt,
              bibendum ligula id.</p>
            <div class="single-progress-item">
              <h6>Development</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="single-progress-item">
              <h6> Angular </h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="single-progress-item">
              <h6> Type Script </h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
            <div class="single-progress-item">
              <h6>Git</h6>
              <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="70" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
  
  
      </div>
    </div>
  </section>
  <!-- About Page end -->